@{
    ViewData["Title"] = "Home";
    ViewBag.Header = "About me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img src="~/images/IMG-20200213-WA0019.jpg" alt="My Image" class="img-fluid rounded-circle" width="70%" height="70%" />
        </div>
        <div class="fw-bold text-secondary col-md-8">
            <p>
                I'm Siphiwe Ngubane, a final-year student studying Computer Science and Physics. I've always been intrigued by how technology influences our world.
                This led me to explore computers and physics, finding joy in understanding their workings. Among my favorite subjects, I cherish database management,
                internet programming, and statistical physics. Managing data effectively is vital today, and I'm excited about making secure databases. Internet
                programming lets me create web apps, connecting people worldwide with code. Additionally, I'm passionate about becoming a software engineer,
                using my programming skills to develop innovative software solutions. Physics-wise, I find statistical physics captivating as it explains how
                matter and energy behave at tiny scales. Looking ahead, I want to dive deeper into these fields, considering postgrad studies or research to
                contribute to advancements.
            </p>
        </div>
    </div>
</div>