body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    color: #fff;
    text-align: center;
    background-color: #007BFF;
    padding-top: 5px;
    padding-bottom: 5px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="file"] {
    width: 100%;
    margin-top: 5px;
}

button[type="submit"], .btn_back {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px
}

button[type="submit"]:hover, .btn_back:hover{
    background-color: rgb(82, 82, 224);
}