@model Module
@{
	ViewData["Title"] = "Add Module";
}
<h2>Add Module</h2>
<form asp-action="Add" method="post">
	<div class="mb-3">
		<label asp-for="ModuleName" class="form-label"></label>
		<input asp-for="ModuleName" class="form-control" type="text"/>
		<span asp-validation-for="ModuleName"></span>
	</div>

	<div class="mb-3">
		<label asp-for="ModuleCode" class="form-label"></label>
		<input asp-for="ModuleCode" class="form-control" type="text" />
		<span asp-validation-for="ModuleCode"></span>
	</div>

	<div class="mb-3">
		<label asp-for="ModuleMarks" class="form-label"></label>
		<input asp-for="ModuleMarks" class="form-control" type="text"/>
		<span asp-validation-for="ModuleMarks"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Credits" class="form-label"></label>
		<input asp-for="Credits" class="form-control" type="text"/>
		<span asp-validation-for="Credits"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Year" class="form-label"></label>
		<input width="30%" asp-for="Year" class="form-control" type="text" />
		<span asp-validation-for="Year"></span>
	</div>

	<button class="btn btn-success" type="submit" >Add Module</button>
	<a asp-controller="Module" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
