@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <h1 class="text-danger">An Error Occurred</h1>
    <p class="text-danger">Sorry, but an error occurred while processing your request.</p>
    <p class="text-danger">Please try again later or contact support if the problem persists.</p>
</div>
